{% extends 'web/base.html' %}
{% block title %}
    <title>註冊</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function() {
            $('.captcha').click(function () {
            $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
            });
        });
        });
    </script>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>註冊 </h2>
                <hr>
                <!-- Jumbotron Header -->
                <header class="jumbotron my-4 pb-4">
                    <form class="form" action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            {{field.label_tag}}
                            {{ field }}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        <button class="captcha">Refresh</button>
                        <div class="text-center">
                            <div class="button-group mt-2 mx-auto">                                
                                <input type="submit" class="btn btn-info mt-2 mx-3 px-5" value="註冊"/>
                                <input type="button" class="btn btn-outline-danger mt-2 px-5" onclick="location.href='{% url 'home' %}'" value="取消"/>
                            </div>
                        </div>
                    </form>
                </header>
            </div>
        </div>
    </div>
{% endblock %}
