{% extends 'web/base.html' %}
{% block title %}
    <title>新增公告</title>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 pb-4">
        <h2 class="display-3">新增公告 </h2>
        <hr>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-4">
                <label for="anncs_name">標題</label>
                <input type="text" class="form-control" name="title" id="anncs_name">
            </div>
            <div class="form-group col-sm-8">
                <label for="anncs_note">內容</label>
                <textarea class="form-control" name="text" id="anncs_note" rows="15"></textarea>
            </div>
            <div class="form-group col-sm-8">
                <label for="anncs_pic">圖片</label>
                <input type="file" class="form-control" name="picture" id="anncs_pic" />
            </div>

            <div class="btn-group mt-4">
                <input type="submit" class="btn btn-primary active" value="發佈" />
                <a href="{% url 'home' %}" class="btn btn-default">取消</a>
            </div>
        </form>
        </header>
    </div>
{% endblock %}