{% extends 'web/base.html' %}
{% block title %}
    <title>修改公告</title>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8 mx-auto">

            <!-- Title -->
            <h1 class="mt-4">{{ annc.title }}</h1>
            <a href="{% url 'home' %}" class="btn btn-warning btn-sm float-right">回上一頁</a>
        
            <!-- Date/Time -->
            <p>{{ annc.published_date }}</p>

            <hr>
            <!-- Image -->
            {% if annc.picture %}
            <img class="img-fluid rounded" alt="" src="/{{ annc.picture.url }}">
            {% endif %}

            <!-- Post Content -->
            <p>{{ annc.text }}</p>
            <hr>

        </div>
        </div>
    </div>
{% endblock %}