{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--extend-->
{% block title %}
<!--<title>體育周 首頁</title>-->
{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/nctu-sports.css' %}" rel="stylesheet">
    
    <!-- for icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img src="{% static 'images/fox_logo_w.png'%}" width=80px>NCTUsports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'eventlist' %}">活動報名</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'eventsignup_list' %}">管理我的報名</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}" onclick="return confirm('確定登出?')">登出</a>
                </li>                
            {% else %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">註冊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">登入</a>
                </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
<!--
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Welcome to Scrolling Nav</h1>
        <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
      </div>
    </header>
-->
{% block content %}
{% endblock %}
    <!-- Footer -->
    <footer class="footer footer-custom pt-4 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <a class="btn btn-outline-light" href="http://sport.sa.nctu.edu.tw/">交通大學體育室</a>
                </div>
                <div class="col-sm-3 text-center">
                    <a class="btn btn-lg" href="https://www.facebook.com/sport.nctu" style="color:white;"><span class="fa fa-facebook-square"></span></a>
                </div>
                <div class="col-sm-5 small" style="color:white;">
                    <h4>聯絡我們</h4>
                        <p>地址：<span><a href="https://maps.google.com/?q=300新竹市大學路1001號體育館" style="color:white;">30010 新竹市大學路1001號體育館1樓</a></span>
                        <br>電話： <span>(03) 571-2121&nbsp; #51002</span>
                        <br>電子郵件：<span><a href="mailto:sport@cc.nctu.edu.tw" style="color:white;">sport@cc.nctu.edu.tw</a></span></p>
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer footer-custom pb-2 pt-2" style="background:#ed851e;">
        <div class="container">
            <div class="row my-0">
                <div class="mx-auto ">
                    <p class="m-0 text-center text-white small">Copyright © 2018 國立交通大學,&nbsp;Designed by &nbsp; us</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

  </body>

</html>
