<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>新增活動</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

  </head>

  <body>
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 pb-4">
      <h2 class="display-3">新增活動 </h2>
      <hr>
        <form>
            <div class="form-group col-sm-4">
                <label for="event_name">活動名稱：</label>
                <input type="text" class="form-control" name="add_event_name" id="event_name">
            </div>
            <div class="form-group col-sm-2">
                <label for="event_date">活動日期：</label>
                <input type="text" class="form-control" name="add_event_date" id="event_date">
            </div>
            <div class="form-group col-sm-2">
                <label for="group_limit">隊伍限制：</label>
                <input type="text" class="form-control" name="group_limit" id="group_limit">
            </div>
            <div class="form-group col-sm-2">
                <label for="p_limit">每隊人數限制：</label>
                <input type="text" class="form-control" name="p_limit" id="p_limit">
            </div>
            <div class="form-group col-sm-6">
                <label for="event_note">備註：</label>
                <textarea class="form-control" id="event_note" rows="4"></textarea>
            </div>
            <div class="btn-group mt-4">
                <a href="#" class="btn btn-primary active">發佈</a>
                <a href="#" class="btn btn-default">取消</a>
            </div>
        </form>
      </header>
      <!-- /.row -->

  </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
