{% extends 'web/base.html' %}
{% block title %}
    <title>我的報名狀況</title>
{% endblock %}
{% block content %}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>我的報名狀況</h2>
            <p class="lead"></p>
            {% for message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
            <hr>
            {% for event, teams in result %}
            <div class="page-header mt-4">
                <h5><strong>{{event.name}}</strong></h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">隊伍名稱</th>
                        <th scope="col">隊伍成員</th>
                        <th scope="col"></th>
                    </tr>
                </thead>               
                
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{team.name}}</td>
                        <td><!--members name-->
                            <ul class="list-unstyled">
                                {% for student in team.students.all %}
                                    <li>{{student.username}} {{student.last_name}}{{student.first_name}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>    
                            <a href="{% url 'eventsignup_delete' pk=team.pk %}" class="btn btn float-right" onclick="return confirm('確定取消?')">取消報名</a>                       
                            <a href="{% url 'eventsignup_edit' pk=team.pk %}" class="btn btn-warning float-right">修改</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}