{% extends 'web/base.html' %}
{% block title %}
    <title>報名狀況</title>
{% endblock %}
{% block content %}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>報名狀況</h2>
            <p class="lead"></p>
            <hr>
            
            <div class="page-header mt-4">
                <h5><strong>{{event.name}}</strong></h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">隊伍名稱</th>
                        <th scope="col">隊伍成員</th>
                    </tr>
                </thead>               
                
                <tbody>
                    {% for team in event.reg_teams.all %}
                    <tr>
                        <td>{{team.name}}</td>
                        <td><!--members name-->
                            <ul class=list-unstyled>
                                {% for student in team.students.all %}
                                    <li>{{student.username}} {{student.last_name}}{{student.first_name}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
