{% extends 'web/base.html' %}
{% block title %}
    <title>報名活動</title>
    <script>
        var counter = 0;
        function moreFields() {
            counter++;
            var newFields = document.getElementById('teammem').cloneNode(true);
            newFields.id = '';
            var newField = newFields.childNodes;
            for (var i=0;i<newField.length;i++) {
                var theName = newField[i].name
                if (theName){
                    newField[i].name = theName + counter;
                    alert(theName);
                }
            }
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFields,insertHere);
        }
    </script>
{% endblock %}
{% block content %}
{% load mathfilters %}
    <!-- Page Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
              
                <h2 class="display-4">活動報名：{{event.name}}</h2>
                <hr>
                <header class="jumbotron my-4 py-4">
                <ul class="list-unstyled my-0">
                    <li>隊伍數量上限：{{event.team_limit}} 隊</li>
                    <li>每隊人數上限：{{event.size_limit}} 人</li>
                    <li>已報名隊伍數：{{event.reg_teams.count}} 隊</li>
                    <li>尚可報名：{{ event.team_limit|sub:event.reg_teams.count }} 隊</li>
                </ul>
                </header>
                {% for message in messages %}
                <p style="color: red">{{ message }}</p>
                {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="btn-group my-4">
                        <input type="submit" class="btn btn-primary active" value="提交報名">
                        <a href="{% url 'eventlist' %}" class="btn btn-default">取消</a>
                    </div>
                </form>                
            </div>
        </div>
    </div>
{% endblock %}
