{% extends 'web/base.html' %}
{% block title %}
    <title>報名活動</title>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
              
                <h2 class="display-4">活動報名：馬力歐賽車 </h2>
                <hr>
                <header class="jumbotron my-4 py-4">
                <ul class="list-unstyled my-0">
                    <li>每隊上限：group_limit</li>
                    <li>每隊上限：p_limit</li>
                    <li>已報名隊伍：signup_count</li>
                    <li>尚可報名：group_limit-signup_count</li>
                </ul>
                </header>
                <div class="form-group col-sm-6">
                    <label for="event_name">隊伍名稱</label>
                    <input type="text" class="form-control" name="add_event_name" id="event_name">
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:33.33%">學號</th>
                            <th style="width:33.33%">姓名</th>
                            <th style="width:33.33%"></th>
                        </tr>
                    </thead>
                    
                    <!-- for loop existed members-->
                    <tbody>
                        <tr>
                            <td>0410011</td>
                            <td>路易吉</td>
                            <td>
                                <div class="btn-group float-right">
                                    <a href="#" class="btn btn-info">修改</a>
                                    <a href="#" class="btn btn-danger">刪除</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    
                    <!-- not existed member-->
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control mr-2" placeholder="ID" name="mem_id" required />
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="名字" name="mem_name" required />
                            </td>
                            <td>
                                <a href="#" class="btn btn-info float-right mx-2">新增成員</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn-group my-4">
                    <a href="#" class="btn btn-primary active">提交報名</a>
                    <a href="#" class="btn btn-default">取消</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
