{% extends 'web/base.html' %}
{% block title %}
    <title>賽事報名</title>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
        <h1 class="display-3">盛大歡迎！</h1>
        <span class="card"><img class="card-img-top" src="images/fox.jpg" alt=""></span>
        <p class="lead">歡迎各位同學踴躍報名體育週</p>
        <p><a href="{% url 'register' %}" class="btn btn-primary btn-lg">立刻註冊!</a></p>
        {% for message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
        {% if perms.SportsEvent.add %}
        <p><a href="{% url 'eventadd' %}" class="btn btn-warning btn-sm float-right">新增活動</a></p>
        {% endif %}
        </header>

        <div class="row text-center">        
        {% for event in events %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
            {% if event.picture %}
            <img class="card-img-top" src="/{{ event.picture.url }}" alt="">
            {% endif %}
            
            <div class="card-body">
                <h4 class="card-title">{{ event.name }}</h4>
                <p class="card-text">{{ event.text }}</p>
            </div>
            <div class="card-footer">
            {% if event.is_past_due %}                            
                <label class="text-danger">已過期！</label>
            {% else %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-primary" role="button">報名！</a>
                {% else %}
                    <a href="{% url 'eventsignup' pk=event.pk %}" class="btn btn-primary" role="button">報名！</a>
                {% endif %}
            {% endif %}                
            </div>
            <div class="card-footer">
                {% if perms.SportsEvent.change %}
                <a href="{% url 'eventedit' pk=event.pk %}" class="btn btn-primary btn-sm" role="button">修改</a>
                <a href="{% url 'eventstatus' pk=event.pk %}" class="btn btn-primary btn-sm" role="button">報名狀況</a>
                {% endif %}
                {% if perms.SportsEvent.delete %}
                <a href="{% url 'eventdelete' pk=event.pk %}" class="btn btn-primary btn-sm" role="button" onclick="return confirm('確定刪除?')">移除</a>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- /.row -->

  </div>
    <!-- /.container -->
{% endblock %}
