{% extends 'web/base.html' %}
{% block title %}
    <title>修改活動</title>
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 pb-4">
        <h2 class="display-3">修改活動 </h2>
        <hr>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-sm-4">
                <label for="event_name">活動名稱：</label>
                <input type="text" class="form-control" name="name" value="{{ event.name }}" id="event_name">
            </div>
            <div class="form-group col-sm-3">
                <label for="event_date">活動日期： {{ event.start_date }}</label>
                <input type="date" class="form-control" name="start_date" id="event_date">
            </div>
            <div class="form-group col-sm-2">
                <label for="group_limit">隊伍限制：</label>
                <input type="text" class="form-control" name="team_limit" value="{{ event.team_limit }}" id="group_limit">
            </div>
            <div class="form-group col-sm-2">
                <label for="p_limit">每隊人數限制：</label>
                <input type="text" class="form-control" name="size_limit" value="{{ event.size_limit }}" id="p_limit">
            </div>
            <div class="form-group col-sm-6">
                <label for="event_note">備註：</label>
                <textarea class="form-control" name="text" id="event_note" rows="4">{{ event.text }}</textarea>
            </div>
            <div class="form-group col-sm-8">
                <label for="event_pic">圖片</label>
                <input type="file" class="form-control" name="picture" id="event_pic" />
            </div>
            <div class="btn-group mt-4">
                <input type="submit" class="btn btn-primary active" value='發佈'/>
                <a href="{% url 'eventlist' %}" class="btn btn-default">取消</a>
            </div>
        </form>
        </header>
        <!-- /.row -->

  </div>
    <!-- /.container -->
{% endblock %}