{% extends 'web/base.html' %}
{% block title %}
    <title>體育周 首頁</title>
{% endblock %}
{% block content %}
<!--content block-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>最新公告</h2>
            {% for message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
            <hr>
            {% if perms.Announcement.add %}
            <a href="{% url 'anncadd' %}" class="btn btn-info">新增公告</a>
            {% endif %}
            <!--<div class="list-group">
                  <a href="#" class="list-group-item">Clickable nav links that smooth scroll to page sections</a>
                  <a href="#" class="list-group-item">Responsive behavior when clicking nav links perfect for a one page website</a>
                  <a href="#" class="list-group-item">Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</a>
                  <a href="#" class="list-group-item">Minimal custom CSS so you are free to explore your own unique design options</a>

                  <a href="#" class="list-group-item">2017/4/3</a>
                  <a href="#" class="list-group-item">2017/4/3</a>
                  <a href="#" class="list-group-item">2017/4/3</a>
                  <a href="#" class="list-group-item">2017/4/3</a>
            </div>-->
            <table class="table table-striped table-hover">
                <tbody>
                    {% for annc in anncs %}
                    <tr>
                        <td>{{ annc.published_date }}</td>
                        <td><a href="{% url 'anncdetail' pk=annc.pk %}" style="text-decoration:none;">{{ annc.title }}</a></td>
                        <td>            
                            <div class="btn-group">
                                {% if perms.Announcement.change %}
                                <a href="{% url 'anncedit' pk=annc.pk %}" class="btn btn-info">修改</a>
                                {% endif %}
                                {% if perms.Announcement.delete %}
                                <a href="{% url 'anncdelete' pk=annc.pk %}" class="btn btn-danger" onclick="return confirm('確定刪除?')">刪除</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
